
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/t85RP2zhSdDjt5PhsT_SnlKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/lEjOv129Q3iN1tuqWOeRBgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPX7z5o44AuUJ1t1avdkNXJ_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xLLF6RfyvCYuuChpfFHKAr5_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIbCcO5IWJIaQ5MtZqYsHUp_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xHQ3DnTiPFZC1qn696_nOv9_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xLzZT6Zu7Z-BZJGL0hT-UJV_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPJmhJzg6kSQTtrFMk-8lT5_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIgEy7irt_A5K-aDq9kG7DHr7w4p9aSvGirXi6XmeXNA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1, h2, h3, h4, h5, h6,  {
  font-family: "Open Sans Condensed", helvetica, arial, sans-serif !important;
}

html, body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
header {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar-inverse{
  background-color: #AAA;
  border-color: #B0B0B0;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000000;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
}
.navbar-brand img {
  height: 165%;
  margin-top: -5px;
  margin-right: 15px;
  display: inline;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 22px;
}
.dropdown-input {
  padding: 3px 20px;
  white-space: nowrap;
}
.slider.slider-horizontal {
  width: 100%;
}
section {
  bottom: 0px;
  left: 0;
  min-height: 275px;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1;
}
#map {
  position: absolute;
  height: 100%;
  left: 268px;
  right: 0px;
  top: 0px;
}
iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.content {
  -webkit-box-shadow: 2px 0 2px rgba(0,0,0,.14);
  -moz-box-shadow: 2px 0 2px rgba(0,0,0,.14);
  box-shadow: 2px 0 2px rgba(0,0,0,.14);
  background-color: #EFEFEF;
  color: #000;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
  padding: 10px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}
#addAnotherLayer, #editBaseMapsAgain {
  display: none;
}
.centering{
  margin-left: 10px;
}
#export-panel{
  position: absolute;
  display: none;
  right:0;
  bottom:0;
  height:100%;
  width:230px;
  background: #EFEFEF;
  z-index: 9;
}
.export-content{
  border-left: 1px solid #aaa;
  position: absolute;
  top: 50px;
  right: 0px;
  bottom: 0px;
  padding: 0;
  width: 300px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,.9);
  overflow: hidden;
  z-index: 2;
}
#embed{
  padding: 30px !important;
  font-size: 20px;
}
.buttons {
  background: #ddd;
  text-decoration: none !important;
  color: #666;
  border-radius: 0px;
  float: left;
  width: 210px;
  text-align: center;
  padding:10px;
  margin:10px;
}
.links{
  background:#BDBDBD;
  text-decoration: none !important;
  color:#000;
  float: left;
  width: 180px;
  text-align: center;
  margin: 5px 7px;
  padding: 10px !important;
}
a.fulcrum-cluster:hover, 
a.fulcrum-heat:hover{
  color:#000 !important;
}
#fulcrum-zoom{
  background: rgba(59,178,208,1);
  color: #fff;
}

/*#button-save, a.button-refresh{
  padding: 10px;
}*/
.setup.buttons:hover, .buttons.embed:hover {
  background: rgba(59,178,208,1);
  color: white !important;
}
#fulcrum-zoom:hover{
  background: #fff;
  color: #000 !important;
}
.export.buttons{
  padding: 20px;
  background: rgba(59,178,208,1);
  font-size: 20px;
  color: #fff;
}
#sharing-code {
    width: 200px;
    height: 40px;
    display: none;
    float: left;
    margin: 20px 10px;
}
#sharing-code p {
  font-size: 15px;
  margin: 0;
}
#sharing-code textarea {
  color: #666;
  height: 80px !important;
  width: 100%;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
/*.npmap .leaflet-container a.leaflet-popup-close-button {
  background: #A5A3A3 !important;
}*/
.panel-title{
  padding: 10px 0;
  text-align: center;
  text-transform:
}
.panel-title: after, .panel-title: before{
  content: "<hr>";
}
.help-block{
  font-size: 10px;
}
#mask {
  position:absolute;
  height: 800px;
  width: auto;
  display: none;
  z-index: 9;
}
.pull-down{
  position: absolute;
  top: 85%;
  margin: 30px;
}
.center-block{
  margin: 0 auto 0 35%;
}
.modal.in .modal-dialog {
  overflow: auto !important;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 20px;
    padding-right: 0px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .navbar .dropdown-menu a i{
    color: #FFFFFF;
  }
  .dropdown-input {
    color: #777;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}